.container-button {
    margin-top: 10px;
    width: 150px;
    height: 40px;
    border-radius: 50px;
    outline: none;
}

.container-button button {
    outline: none;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    font-size: 16px;
    color: white;
    font-weight: bolder;
    background: #f0932b;
    border: none; 
    transition: 0.5s;

    /*
    -webkit-box-shadow: 7px 6px 35px -14px rgba(99, 99, 99, 1);
    -moz-box-shadow: 7px 6px 35px -14px rgba(99, 99, 99, 1);
    box-shadow: 7px 6px 35px -14px rgba(99, 99, 99, 1);
    */
}

.container-button button:hover{
    background: white;
    color: #f0932b;
    border: 2px solid #f0932b;
}

.container-button button:active{
    transform: translateY(12px);
}